* {
    padding: 0;
    margin: 0;
}

body {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-size: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: -1;
}

input {
    border: none;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.back>img {
    width: 100%;
    height: 100%;
}

.login {
    height: 100%;
    width: 100%;
}

.img {
    position: absolute;
    width: 100%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.img>img {
    width: 60%;
}

.nav {
    position: absolute;
    border-radius: 10px;
    background-color: #010105;
    filter: alpha(opacity=70);
    opacity:0.7;
    box-shadow: 10px 10px 15px #3e3b3b;
    width: 30%;
    height: 40%;
    margin-left: 35%;
    margin-top: 18%;
    color: #fff;

}

.font1 {
    width: 100%;
    height: 20%;
    float: left;
    font-size: 13px;
    text-align: center;
    margin-top: 2%;
    border-bottom: 2px solid rgb(106, 128, 115);
    position: relative;
}

.font1>h2 {}

.bottom-1, .bottom-2 {
    float: left;
    bottom: 0;
    background: rgb(167, 111, 36);
    height: 5px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -5px;
}

.form {
    width: 100%;
    height: 100%;
}

.input-1, .input-2 {
    color: #000;
    position: relative;
    float: left;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);/*rgba(17, 201, 250, 0.54)*/
    font-size: 15px;
    width: 75%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    height: 10%;
    border: 0;
    padding-left: 5%;
}

.input-3 {
    float: left;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.9);/*rgba(17, 201, 250, 0.54)*/
    font-size: 15px;
    width: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    height: 10%;
    border: 0;
    padding-left: 5%;
}

.div-1 {
    float: left;
    /*background: rgba(19, 24, 26, 0.54);*/
    width: 20%;
    margin-right: 10%;
    margin-top: 5%;
    height: 10%;
    border: 0;
    /*padding-left: 5%;*/
}

.div-2 {
    float: right;
    width: 100%;
    height: 7%;
    text-align: right;
    margin-right: 10%;
    margin-top: 3%;
    color: #000000;
}

.div-2>a {
    float: right;
    width: 30%;
    font-size: 30px;
    display: block;
}

.button-1, .button-2 {
    background: rgb(187, 122, 45);
    border: none;
    border-radius: 5px;
    width: 25%;
    float: left;
    font-size: 15px;
    height: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.button-1 {
    margin-left: 10%;
    margin-right: 5%;
}

.button-2 {
    margin-left: 5%;
    margin-right: 10%;
}

.lable_1{
    margin: 5% 0 0 10%;
}
.lable_2{
    margin: 0 0 0 10%;
}



@media only screen and (max-width:650px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        font-size: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .back {
        display: none;
    }
    .img {
        position: absolute;
        width: 100%;
        margin-top: 20%;
        margin-left: 20%;
        margin-right: 20%;
    }
    .nav {
        width: 80%;
        height: 33%;
        margin-left: 10%;
        margin-top: 35%;
    }
    .font1>h2 {
        font-size: 20px;
    }
    .button-1, .button-2 {
        font-size: 0.8em;
    }
    .input-1, .input-2, .input-3, .div-1 {
        margin-top: 2%;
    }
    .div-2>a {
        font-size: 0.7em;
    }
}

@media only screen and (max-width:900px) and (min-width:651px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        font-size: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .back {
        display: none;
    }
    .img {
        position: absolute;
        width: 100%;
        margin-top: 10%;
        margin-left: 20%;
        margin-right: 20%;
    }
    .nav {
        width: 60%;
        height: 35%;
        margin-left: 20%;
        margin-top: 20%;
    }
    .font1>h2 {
        font-size: 2em;
    }
    .button-1, .button-2 {
        font-size: 1em;
    }
    .input-1, .input-2, .input-3, .div-1 {
        margin-top: 2%;
    }
    .div-2>a {
        font-size: 1em;
    }
}
