* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    font-size: 100%;
    background: rgba(233, 231, 231, 1) !important;
    position: relative;
}

/*总布局*/


.nav {
    width: 100%;
    background: #F6F6F6;
    position: fixed;
}



.main {
    height: 500px;
    width: 100%;
    z-index: 1;
}

.main0 {
    width: 100%;
    height: 130%;
    padding-top: 100px;
    margin-right: 15%;
}

/*顶部导航栏.nav*/

/*第一栏*/
.top {
    height: 70px;
    line-height: 15px;
    border-bottom: 1px solid rgb(215, 229, 231);

}
.top1 {
    float: left;
    height: 80%;
    width: 50%;
    margin-left: 3%;
}

.top1 > img {
    height: 100%;
    width: 100%;
}

.top2 {
    margin: 30px 0 0 0 ;
    float: right;
    width: 50px;
    text-align: right;
    font-size: 15px;
}

.top0 {
    margin: 30px 50px 0 0 ;
    float: right;
    width: 90px;
    font-size: 15px;
}

/*第一栏END*/

/*顶部第二栏*/
.nav2 {
    width: 100%;
    height: 30px;
    text-align:center;
    background-color: #96B97D;
}

.nav2-0 {
    cursor: pointer;
    float: left;
    height: 100%;
    line-height: 30px;
    width: 11.6%;
    font-size: 18px;
    color: #fff;

}
.nav2-1 {
    margin-left: 15%;
}
.nav2-2 {
    margin-right: 15%;
}

/*底部信息栏*/
.bottom {
    position: relative;
    background: rgb(11, 73, 75);
    bottom: 0;
    clear: both;
    color: #fff;
    width: 100%;
    height: 40px;
    line-height: 15px;
    padding-top: 10px;
    z-index: 10;
    font-size: 12px;

}
.bottom a{
    color: #fff;
}

/*底部信息栏END*/
.a {
    height: 100%;
    width: 100%;
}

/*js专用*/
.change {
    background: rgba(14, 13, 13, 0.72);
    font-size: 40px;
}

.none {
    display: none;
}

.black {
    display: block;
}

.nav-hover {
    font-size: 20px;
    border-bottom: 5px solid rgb(230, 148, 52);
}
